.checkout-form {
  border: 1px solid #d70f64;
  padding: 40px;
  margin-top: 10%;
  width: 75%;
  margin: 6% auto auto auto;
  border-radius: 10px;
  box-shadow: 0px 1px 20px 4px rgba(215, 15, 100, 0.74);
  -webkit-box-shadow: 0px 1px 20px 4px rgba(215, 15, 100, 0.74);
  -moz-box-shadow: 0px 1px 20px 4px rgba(215, 15, 100, 0.74);
}
.checkout-title {
  text-align: center;
  margin-bottom: 5px;
  color: #d70f64;
}
.checkout-subtitle {
  text-align: center;
  margin-bottom: 25px;
}

.checkout-btn {
  background-color: #d70f64;
}

.orders {
  border: 1px solid #d70f64;
  padding: 40px;
  margin: 4% auto 4% auto;
  border-radius: 10px;
  box-shadow: 0px 1px 20px 4px rgba(215, 15, 100, 0.74);
  -webkit-box-shadow: 0px 1px 20px 4px rgba(215, 15, 100, 0.74);
  -moz-box-shadow: 0px 1px 20px 4px rgba(215, 15, 100, 0.74);
}
.App-Container {
  border: 1px solid #d70f64;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 1px 20px 4px rgba(215, 15, 100, 0.74);
  -webkit-box-shadow: 0px 1px 20px 4px rgba(215, 15, 100, 0.74);
  -moz-box-shadow: 0px 1px 20px 4px rgba(215, 15, 100, 0.74);
}

.App-Container.login {
  margin: 17% auto 16% auto;
  width: 60%;
}

.App-Container.signup {
  margin: 11% auto 11% auto;
  width: 60%;
}

.App-Container.builder {
  margin: 11% auto 11% auto;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

hr {
  border-color: white;
}

.switch-btn {
  text-align: center;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .checkout-form {
    width: 100%;
  }
  .orders {
    padding: 40px 0px 40px 0px;
  }
  .App-Container.login {
    width: 100%;
  }
  .App-Container.signup {
    width: 100%;
  }
}
